name: Greetings

on: [ pull_request, issues ]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v1.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: 'Thanks for opening your first issue in this repo!'
          pr-message: 'Thanks for opening your first issue in this repo!'
