name: Build, Test and Publish

on:
  push:
    branches: [ master ]

jobs:
  build-and-test:

    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build project with Maven
        run: mvn -B package --file pom.xml

  build-and-publish-docker-image:

    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    needs: [build-and-test]

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build project with Maven
        run: mvn -B package --file pom.xml
      - name: install buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v3.2.0
        with:
          buildx-version: latest
      - name: Login to Docker Hub
        run: docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"
      - name: Build & Push Docker Image
        run: docker buildx build --push --platform linux/arm/v7,linux/arm64/v8,linux/amd64 --tag ${{ secrets.DOCKER_REPO }}:${{ github.run_number }}-${{ github.sha }} --tag ${{ secrets.DOCKER_REPO }}:latest .